.credit-card {
    display:inline-block;
    border: 3px solid;
    border-color: green;//instead of adding a &:not(.is-expired) class defintion
    border-radius: 4px;
    padding: 1em;
    width: 200px;
    height:120px;
    margin: 2em;
    &.is-expired {
    	border-color: firebrick;
    }

}